<!--
    NOTE: this launch file requires installation of:
    * ros-melodic-octomap-server
    * ros-melodic-depth-image-proc
-->

<launch>

  <node pkg="nodelet" type="nodelet" args="manager"
	name="standalone_nodelet" output="screen"/>

  <!--
      Node which converts depth image in mm to float depth image in m
      subscribes:
        image_raw
      publishes:
        image
      Notes:
	we have to remap the output for depthProc.
  -->
  <node name="depthConv" pkg="nodelet" type="nodelet" args="load depth_image_proc/convert_metric standalone_nodelet --no-bond" output="screen">
    <remap from="image" to="image_rect"/>
  </node>

  <!--
      Node which converts 2D depth image into XYZ pointcloud
      subscribes:
        camera_info, image_rect
      publishes:
        points
      Notes:
	we have to remap the output for octomap.
  -->
  <node name="depthProc" pkg="nodelet" type="nodelet" args="load depth_image_proc/point_cloud_xyz standalone_nodelet --no-bond" output="screen">
    <remap from="/points" to="/cloud_in"/>
  </node>

  <!--
      Octomap main mapping node
  -->
  <node name="octomap" output="screen" pkg="octomap_server" type="octomap_server_node">
    <!-- Mapping parameters -->
    <param name="frame_id" value="/odom" />
    <param name="base_frame_id" value="base_link" />
    <param name="resolution" value="0.1" />
  </node>

  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find skimap_ros)/rviz/octomap_live_ours.rviz" />

</launch>
